{% extends "layout.html" %}

{% block content %}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About the App
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>This is an app to generate mechanical cam profile based on user input <br>
                It uses Flask as the server and matplotlib as the plotting media <br>
                Besides the app also uses Numpy for its calculation <br></p>
            
            <p>Find The Source code at : <a href="https://github.com/hqariful/Cam-3.0">github</a> </p>
            
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About the Author
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <b>Ariful Hoque</b> <br>graduate student of Chittagong University of Engineering & Technology <br>Chittagong, Bangladesh
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Here are other project of the author
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card-deck">
            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Cam Design</h5>
                Prior to making this final version of "automatic cam designer" I made progress through this intermidiate works <br><br> 
                <h6 class="card-subtitle mb-2 text-muted">First Version in making cam:</h6>
                <p class="card-text"> 
                  Made with the help of only HTML, CSS, and Javascript 
                  <br>The code is hosted on <a href="https://www.sololearn.com/">Sololearn</a> <br>
                  <a href="https://code.sololearn.com/WNROs0PqyVnk"><b>Automatic Cam Generator </b></a>
                </p>

                <h6 class="card-subtitle mb-2 text-muted">Second and Improved Version in making cam:</h6>
                <p class="card-text"> 
                  This time I used plotting library called <a href="https://p5js.org/">P5js</a> within the framework of Javascript and HTML
                  <br><a href="https://hqariful.github.io/Cam.github.io/"><b>Cam 2.0</b></a>
                </p>
              </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Interpolator</h5>
                This is my attempt to make an Numeric Interpolator<br><br> 
                <h6 class="card-subtitle mb-2 text-muted">Interpolator</h6>
                <p class="card-text"> 
                  Made with the help of only HTML, CSS, and Javascript 
                  <br>The code is hosted on <a href="https://github.com/">Github Page</a> <br>
                  <a href="https://hqariful.github.io/hqarif.github.io/"><b>Interpolator</b></a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}