{% extends "layout.html" %}

{% block content %}
<div class="container"><div class="alert alert-secondary" role="alert">
    <ul>
        <li>All angle must be in degrees</li>
        <li>Make sure sum of Outstoke, Dwell, and Returnstroke angles are less than 360 degrees</li>
        <li>Offset radius is optional and defaults to 0</li>
    </ul>
</div></div>
    
    <div class="container"><form action="/" method="POST">
        <div class="input-group mb-3">
            <label class="form-label" for="OutStroke">Out Stroke : </label>
            <input required class="form-control" name = "outStroke" type="number">
            <div>
                <select class="form-control" name="otype" id="otype">
                    <option value="const_v">Constant velocity</option>
                    <option value="const_a">Constant Acceleration</option>
                    <option value="shm">Simple Harmonic Motion</option>
                    <option disabled value="cyc">Cyloidal Motion</option>
                </select>
            </div>
        </div>
        
        <div class="input-group mb-3">
            <label class="form-label" for="dwell">Dwell</label>
            <input required class="form-control" name = "dwell" type="number">
        </div>
        
        <div class="input-group mb-3">
            <label class="form-label" for="Return Stroke">Return Stroke : </label>
            <input required class="form-control" name = "rtnStroke" type="number">
            <div>
                <select class="form-control" name="rtype" id="rtype">
                    <option value="const_v">Constant velocity</option>
                    <option value="const_a">Constant Acceleration</option>
                    <option value="shm">Simple Harmonic Motion</option>
                    <option disabled value="cyc">Cyloidal Motion</option>
                </select>
            </div>
        </div>
        
        <div class="input-group mb-3">
            <label class="form-label" for="flw">Follower Displacement : </label>
            <input required class="form-control" name = "flw" type="number">
        </div>
        
        <div class="input-group mb-3">
            <label class="form-label" for="flw">Base Circle Radius : </label>
            <input required class="form-control" name = "brad" type="number">
        </div>
        
        <div class="input-group mb-3">
            <label class="form-label" for="offset">Offset radius: </label>
            <input value="0" class="form-control" name = "offset" type="number">
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form></div>
{% endblock %}